/* STYLE COLORSPACE

#524948 - wenge: dark grayish brown
#57467B - ultra violet
#7CB4B8 - verdigris: pastel blue-green
#70F8BA - aquamarine
#CAFE48 - lime */

body {
  background-color: #7CB4B8;
  color: #524948
}

.control {
    display: flex;
    float: left;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    border: 2px solid rgb(89, 90, 89);
    padding: 2px;
    width: 300px;
    height: auto;
}

.viewer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: left;
    border: 2px solid rgb(89, 90, 89);
    padding: 2px;
    width: 100;
    height: 100;
}

.button {
  color: #57467b;
  background-color: #cafe48;
  text-align: center;
  font-size: 32px;
  border-radius: 12px;
  
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(52,52,52,0.2), 0 6px 20px 0 rgba(52,52,52,0.19);
  background-color: #524948;
  color: #CAFE48;
}

.main_title {
  text-align: center;
  font-family: papyrus, fantasy;
  font-size: 72px;
}

.div_title {
  text-align: center;
  font-family: papyrus, fantasy;
  font-size: 56px;
} 

.upload_div {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 35%;
  -ms-transform: translateY(-25%, -40%);
  transform: translateY(-25%, -40%);
}

.container {
  height: 200px;
  position: relative;
}