body {
  background-color: lightgray;
}

.control {
    display: flex;
    float: left;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    color: black;
    border: 2px solid rgb(89, 90, 89);
    padding: 2px;
    width: 175px;
    height: auto;
}

.viewer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: left;
    color: black;
    border: 2px solid rgb(89, 90, 89);
    padding: 2px;
    width: auto;
    height: auto;
}

