<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/al_style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransKryb Application</title>
    <script src="/static/circ_sandbox.js" type="module"></script>
    <script src="/static/lib/fabric.min.js"></script>
</head>

<body>
    <h1 class="main_title">T   ranskrybe</h1>

        <div style="width: 100%; text-align: center; ">
            <h1 class="div_title">Line Finder</h1>
            <canvas id="canvas" style="position: absolute;top:0; bottom: 0; left: 0; right: 0; margin:auto;"></canvas>
        </div>

        <!-- <div class="rdiv" id="cdiv2">
            <h1 class="div_title_left">Text Transcription Placeholder</h1>
            <canvas id="canvas2"></canvas>
        </div> -->


    </body>
</body>
</html>