<!DOCTYPE html>
<html lang="en" style="zoom: 100%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/al_style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransKribe Application</title>
</head>
<div style="display:flex; flex-direction:column; align-items:center;">
    <h1 class="main_title">Transkrybe A.I.</h1>
    <img src="../static/images/tlogo.png" style="width: 10%">
</div>
<br><br><br><br>
<body style="display:flex; flex-direction:column; align-items:center;"> 
    <h1 class="div_title">Upload Image File</h1>
<div class="container">
    
    <div style="display:flex; flex-direction:column; align-items:center;">
    <form action="segmentation" method="post" enctype="multipart/form-data">
        <input type="file" name="file" value="" required  class="button">
        <br><br>
        <input type="submit" value="Upload File" class="button">
        
    </form>
    </div>
</div>

</body>
</html>