<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/al_style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransKribe Application</title>
</head>

<h1 class="main_title">Transkrybe Application</h1>
<br><br><br><br><br><br><br><br><br>
<body> 
    <h1 class="div_title">Upload Image File</h1>
<div class="container">
    
    <div class="upload_div">
    <form action="segmentation" method="post" enctype="multipart/form-data">
        <input type="file" name="file" value="" required  class="button">
        <br><br>
        <input type="submit" value="Upload File" class="button">
        
    </form>
    </div>
</div>

</body>
</html>