<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/al_style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransKryb Application</title>
    <script src="/static/inference.js" type="module"></script>
    <script src="/static/lib/fabric.min.js"></script>

</head>

<body style="display:flex; flex-direction:column; align-items:center;">
    <h1 class="main_title">Transkrybe</h1>

    <div>
        <h1 class="div_title">Location Overlay Transcription</h1>
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <div>
        <h1 class="div_title">Unicode Text Transcription</h1>
        <p style="text-align: center; font-size: xx-large; background-color: azure;"><strong></b>
            Ε Τ Α Τ Θ Ι Ν Α <br>
            Χ Τ Ι Π Ρ Α Τ Ξ Τ Ω C Ι Ν Ο <br>
            Ι Ο Ν Π Ε Π Ο Η Κ Ε Γ <br>
            Ε Γ Α Μ Ο Υ Ν Ε Ι Δ Τ <br>
            Ν Τ Η Ν Τ Η C Κ Λ Ε <br>
            Χ Ε Τ Τ Ο Π Ρ Ο C C Η Π Ο Ν <br>
            Λ Ε Ρ Α Δ Ι Ν Α Ι Θ Υ Π Ε Ν <br>
            Ν Ν Υ Ν Δ Ε Κ <br>
            Μ Μ 
        </b></p>
    </div>
    


        <!-- <form action="inference" method="post" enctype="multipart/form-data">
            <input type="submit" value="Run Inference" class="button"> 
        </form> -->
        <!-- <div class="rdiv" id="cdiv2">
            <h1 class="div_title_left">Text Transcription Placeholder</h1>
            <canvas id="canvas2"></canvas>
        </div> -->


    </body>
</body>
</html>