<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/al_style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>TransKryb Application</title>
</head>

<body>
    <script src="/static/rect_sandbox.js" type="module"></script>
    <script src="/static/lib/fabric.min.js"></script>

    <script>
        var fragid = "{{ fid }}";
        var imgext = "{{ imgtype }}";
    </script>
    <div>
        <h1 class="main_title"><img src="../static/images/tlogo.png" style="width: 2%">Transkrybe A.I.</h1>
    </div>
    <div class="control">
        <img src="/static/images/colorKey.png">
    </div>

    <div class="control">
        <!-- <h1 class="div_title">Control Panel</h1> -->
        <button class="button" id="b1">Update</button><!--modify: send to line-ification> -->
        <br>
        <button class="button" id="b5">Log Array</button>
        <br>
        <button class="button" id="b3">Create New Box</button>
        <br>
        <button class="button" id="b4">Delete Active Box</button>
        <br>
        <button class="button" id="b6">Cycle Boxes: Next</button>
        <br>
        <button class="button" id="b7">Cycle Boxes: Last</button>
        <br>
        <button class="button" id="b2">Show All</button>
        <br>
        <!-- <button class="button" id="b8">Segment Lines</button> -->
        <form>
            <button class="button" type="button" id="b8">Submit</button>
        </form>
        <br>
        <form action="showlines" method="post" enctype="multipart/form-data">
            <input type="submit" value="show lines" class="button" hidden="hidden" id="b10">
        </form>
    </div>

    <div class="viewer">
        <!-- <h1 class="div_title">Viewer</h1> -->
        <canvas id="canvas"></canvas>
    </div>

    </body>
</body>
</html>